@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
body > *{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

.floating-input>input::placeholder {
  color: transparent;
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
@apply opacity-75 scale-75 -translate-y-3 translate-x-1; 
}